.coin_row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: 0.7rem 1rem;
    position: relative;
}

.coin_row:hover {
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.symbol {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}
.btn {
    text-align: center;
    position: absolute;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    padding: 0.4rem 0.6rem;
    border-radius: 12px;
    font-size: 32px;
    font-family: inherit;
    background: rgb(162, 162, 246);
    color: rgb(32, 32, 32);
    border: 1px solid transparent;
    transition: 0.3s ease all;
    padding-bottom: 10px;
    margin-right: 30px;

    &:hover {
        border-color: rgb(162, 162, 246);
        background: rgba(rgb(162, 162, 246), 0.1);
        color: rgb(162, 162, 246);
    }
    &:active {
        border-color: rgb(162, 162, 246);
        background: linear-gradient(rgba(rgb(162, 162, 246), 0.2), rgba(rgb(162, 162, 246), 0.3));
        color: rgb(162, 162, 246);
    }
}
@media screen and (max-width: 1100px) {
    .hide__laptop {
        display: none;
    }
    .coin_row {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .hide__tablet {
        display: none;
    }
    .coin_row {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .hide__mobile {
        display: none;
    }
    .heading {
        grid-template-columns: repeat(3, 1fr);
    }
}
